<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMsg.length > 0) { %>
        <div class="user-message user-message--error"><%= errorMsg %></div>
        <% } %>
        <form class="login-form" action="/new-password" method="POST">
            <div class="form-control">
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="id" value="<%= id %>">
            <button class="btn" type="submit">Update</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>