<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMsg) { %>
        <div class="user-message user-message--error"><%= errorMsg.msg %></div>
        <% } %>
        <form class="login-form" action="/signup" method="POST">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input class="<%= invalidField.find(error => error.param == 'email') ? 'invalid' : '' %>"
                    type="email" name="email" id="email" value="<%= signupData.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input class="<%= invalidField.find(error => error.param == 'password') ? 'invalid' : '' %>"
                    type="password" name="password" id="password" value="<%= signupData.password %>">
            </div>
            <div class="form-control">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Login</button>
        </form>
    </main>
    <%- include('../includes/end.ejs') %>