<%- include('../includes/head.ejs') %>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if (products.length > 0) { %>
        <ul>
            <% products.forEach(product => { %>
            <li style="list-style-type: none">
                <div class="card product-item" style="padding: 10px 20px">
                    <p><%= product.title %> (<%= product.cartItem.quantity %>) - $<%= product.price %></p>
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="id" value="<%= product.id %>">
                        <button class="btn" type="submit">Delete</button>
                    </form>
                </div> 
            </li>
            <% }) %>
        </ul>
        <form action="/create-order" method="POST">
            <button type="submit" class="btn">Order</button>
        </form>
        <% } else { %>
        <h1>Cart is empty</h1>
        <% } %>
    </main>

    <%- include('../includes/end.ejs') %>